html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: var(--color-background);
    font-size: var(--font-size-base);
    -webkit-font-smoothing: antialiased;
    max-width: calc(var(--max-width) + var(--body-padding) * 2);
    margin: auto;
    padding: 0 var(--body-padding);
}

hr {
    background-color: var(--color-background-hr);
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li>ul,
li>ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    display: block;
    height: auto;
    /* Make sure images are scaled correctly. */
    width: 100%;
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

a {
    color: var(--color-blue);
    transition: var(--all-transition);
    &:hover,
    &:active {
        opacity: var(--hover-opacity);
    }
}

button {
    transition: var(--all-transition);
    &:hover,
    &:active {
        opacity: var(--hover-opacity);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
