.button {
  display: inline-block;
  position: relative;
  bottom: 0;
  color: var(--color-button-text);
  text-align: center;
  padding: 0.5rem 2rem 0.6rem 2rem;
  background: var(--color-blue);
  margin: var(--spacing-small) var(--spacing-small) var(--spacing-small) 0;
  border-radius: var(--spacing-medium);
  transition: var(--all-transition--fast);
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-heavy);
  border-bottom: 0.25rem var(--color-blue--dark) solid;

  &::after {
    content: ' →';
  }

  &:hover {
    opacity: 1;
    bottom: 0.1rem;
    filter: brightness(1.1);
  }

  &--secondary {
    background: var(--color-red-pink);
    border-bottom: 0.25rem var(--color-red-pink--dark) solid;
  }
}
