.footer {
	margin: var(--spacing-large) 0;

	&__links {
		display: flex;
		list-style: none;
		margin: var(--spacing-small) 0;
		padding-left: 0;
		flex-wrap: wrap;

		li {
			padding: var(--spacing-small) 0;

			a {
				// padding: var(--spacing-small);
				margin-right: var(--spacing-small);
				text-decoration: none;
				color: var(--color-text);
			}
		}
	}

	&__email {
		color: var(--color-text);
		text-decoration: none;
		 //font-size: #{var(--font-size-small) * .75};
		color: var(--color-text-gray);
	}
}
