// Title
.header {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-small) var(--spacing-medium);
  margin: var(--spacing-large) 0;

  &__title {
    margin: 0;
    font-size: var(--font-size-medium);

    a {
      text-decoration: none;
      color: inherit;
    }

    // @include small {
    //   margin-bottom: var(--spacing-small);
    // }
  }

  @include small {
    flex-direction: column;
  }
}

// Navigation

.main-navigation {
  //@include fade-in($fade-one);
  display: block;

  ul {
    display: flex;
    list-style: none;
    gap: var(--spacing-medium);
    margin: 0;
    padding-left: 0;

    li {
      a {
        text-decoration: none;
        color: var(--color-text);
      }
    }
  }
}

.current-menu-item {
  font-weight: 600;
}
