// Main
.main {
  position: relative;
}

.post-edit-link {
  position: fixed;
  bottom: $spacing-small;
  right: $spacing-small;
  text-decoration: none;
}

.hero-text {
  margin: #{$spacing-large * 1.5} 0 $spacing-xlarge 0;

  p {
    @include fade-in($fade-two);
    font-size: 6vw;
    max-width: 1000px;
    font-weight: 600;
    //font-family: 'Raleway';

    @include xlarge {
      font-size: 5rem;
    }

    @include medium {
      font-size: 8vw;
    }

    @include small {
      font-size: 10vw;
    }
  }
}

// Posts on home
.posts {
  @include fade-in($fade-three);
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: $spacing-medium;

  &__title {
    @include fade-in($fade-three);
    font-family: $base-font-family;
    font-size: 1.25rem;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    margin: $spacing-medium 0;
  }

  @include medium {
    grid-template-columns: 1fr 1fr;
  }

  @include small {
    grid-template-columns: 1fr;

    img,
    .featured-video-plus {
      margin-left: -8vw;
      width: calc(100% + #{$body-padding * 2});
      max-width: none;
    }
  }
}

.post {
  margin-bottom: $spacing-large;

  &__title {
    margin-bottom: .5rem;
    font-size: 1.25rem;
  }

  h1 {
    font-size: $font-size-xlarge;
  }

  a {
    color: $color-text;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }

  p {
    font-size: $font-size-small;
  }

  img,
  .featured-video-plus {
    margin-bottom: 1rem;
  }
}

// Individual post pages
.single {

  .post {
    margin-bottom: 0;

    p {
      font-size: $font-size-medium;
    }

    img {
      margin-bottom: 1.5rem;
    }
  }
}

.entry-content {

  a {
    margin-right: $spacing-small;
  }

  p {
    @include fade-in($fade-three);
  }
}

.posted-on {
  font-weight: 600;
  font-size: 1.25rem;
}

canvas {
  display: none;
}

.p5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &.active {

    canvas {
      display: block;
    }
  }
}
