// Main
.main {
  position: relative;
  margin-bottom: var(--spacing-xlarge);
}

.post-edit-link {
  position: fixed;
  bottom: var(--spacing-small);
  right: var(--spacing-small);
  text-decoration: none;
}

.hero-text {
  margin: calc(var(--spacing-large) * 2) 0 calc(var(--spacing-large) * 2.25) 0;

  p {
    @include fade-in($fade-two);
    font-size: 6vw;
    max-width: 1000px;
    font-weight: var(--font-weight-heavy);

    @include xlarge {
      font-size: 5rem;
    }

    @include medium {
      font-size: 8vw;
    }

    @include small {
      font-size: 10vw;
    }
  }

  //@include medium {
  //  margin: #{var(--spacing-large) * 1.5} 0 var(--spacing-xlarge) 0;
  //}
  //
  //@include small {
  //  margin: #{var(--spacing-large) * 1.5} 0 var(--spacing-xlarge) 0;
  //}
}

// Posts on home
.posts {
  @include fade-in($fade-three);
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--spacing-medium);

  &__title {
    @include fade-in($fade-three);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-heavy);
    margin: var(--spacing-medium) 0;
  }

  @include medium {
    grid-template-columns: 1fr 1fr;
  }

  @include small {
    grid-template-columns: 1fr;

    img,
    .featured-video-plus {
      margin-left: -8vw;
      width: calc(100% + var(--body-padding) * 2);
      max-width: none;
    }
  }
}

.post {
  margin-bottom: var(--spacing-large);

  &__title {
    font-size: 1.25rem;
    margin-bottom: .5rem;
  }

  &__content {

    a {
      text-decoration: underline !important;
    }
  }

  &__thumb {

    &:hover {
      opacity: 1;
    }
  }

  h1 {
    font-size: var(--font-size-xlarge);
  }

  a {
    display: block;
    color: var(--color-text);
    text-decoration: none;
  }

  p {
    font-size: var(--font-size-small);
  }

  img,
  .featured-video-plus {
    margin-bottom: 1rem;
  }
}

// Individual post pages
.single {

  .post {

    p {
      font-size: var(--font-size-medium);
    }
  }

  .post-thumbnail {
    max-width: var(--paragraph-max-width);

    img,
    .featured-video-plus {
      margin-bottom: 1.5rem;
    }
  }
}

.entry-content {

  a {
    margin-right: var(--spacing-small);
  }

  p {
    @include fade-in($fade-three);
  }
}

.posted-on {
  font-weight: var(--font-weight-heavy);
  font-size: var(--font-size-small);
}

canvas {
  display: none;
}

.p5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  transition: 200ms opacity ease-out;
  opacity: 0;

  &.active {
    opacity: 1;

    canvas {
      display: block;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 100%);
    width: 100%;
    height: 33.33%;
  }
}
