@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

body,
button,
input,
select,
optgroup,
textarea {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-heavy);
  line-height: var(--line-height-headline);
  clear: both;
  margin: 0 0 var(--spacing-medium) 0;
}

h1 {
  @include fade-in($fade-two);
  font-size: 13vw;
  line-height: var(--line-height-hero);
  margin: 0 0 var(--spacing-large) 0;

  @include xlarge {
    font-size: 10rem;
  }
}

h2 {
  font-size: var(--font-size-large);
}

h3,
h4,
h5,
h6 {
  font-size: var(--font-size-medium);
}

p,
.entry-content li {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-base);
}

.entry-content ul,
.entry-content ol {
  margin: 0 0 var(--spacing-medium) 0;
  padding-left: var(--spacing-medium);
  max-width: var(--paragraph-max-width);
}

p {
  margin: 0 0 var(--spacing-medium) 0;
  max-width: var(--paragraph-max-width);
}

figure,
.wp-block-image {
  margin: 0 0 var(--spacing-large) 0;
  max-width: var(--paragraph-max-width);
}

figcaption {
  text-align: center;
}

blockquote {
  margin: 0 0 var(--spacing-large) 0;
  padding-left: 1.25rem;
  border-left: 0.25rem solid var(--color-text);
  font-style: italic;

  cite {
    font-size: var(--font-size-medium);

    &::before {
      content: '— ';
    }
  }
}

dfn,
cite,
em,
i {
  font-style: italic;
}
